/* 작업 확인용 */
* {
    /* border: 1px solid red; */
}

/* 공통 속성 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

#wrap {
    width: 1600px;
    margin: 0 auto;
}

/* 헤더 */
#header {
    width: 1600px;    
}

/* 헤더 윗부분 */
#header_icons {
    display: flex;
    justify-content: flex-end;    
}

/* 헤더 아래부분 */
#navi {
    padding: 30px;
}

/* 헤더 로고 제목 */
#header_site_name {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}

/* 헤더 쇼핑 목록 */
#navi {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

/* 헤더 상위 아이콘 */
#header_icons>.icon {
    width: 25px;    
    margin: 10px;
}

#header_site_name>h3 {
    font-size: 40px;
}

/* 푸터 */
#footer {
    width: 1600px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 30px 30px;
}

#company_name>#name {
    font-size: 30px;
}

#company_data {
    font-size: 13px;
}

.small_char {
    font-size: 13px;
}

#company_afterservice {
    display: flex;
}

#cs_center {
    margin-right: 50px;
}