/* *{ border: 1px solid red; } */

#wrap{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

table{  width: 700px; border-collapse: collapse; }
th, td{ 
    height: 30px;
}

/* 회원가입 */
#join , #logIn , #writePost , #post{
    display: flex; justify-content: center; 
}
#join table{ 
    display: flex; width: 700px; 
    justify-content: center;
}
#join input{ 
    margin: 5px 20px;
 }

/* 게시물 작성 */
#writePost input{ border: none; margin: 10px; width: 640px; }
.postTable{ margin-bottom: 20px;}
#writePost textarea{ 
    width: 640px; height: 100px;
    margin: 10px;
    border: none;
}
#writePost input , textarea:focus{
    outline: none;
}
.writeTable{ margin : 10px 0px; }

/* 게시판 */

/* 상세페이지 */
#postDetail{ display: flex; justify-content: center;}
.pdetailTable{ margin-bottom: 30px;}
#postDetail textarea{ 
    width: 570px; height: 100px;
    margin: 10px;
    border: none;
}