/* *{ border: 1px solid red; } */
#wrap{

    width: 700px;
    margin: 0 auto;
}
table{  width: 700px; border-collapse: collapse; }
/* 회원가입 */
#join , #logIn , #writePost , #post{
    display: flex; justify-content: center; 
}
#join table{ 
    display: flex; width: 700px; 
    justify-content: center;
}
#joi th, td{ 
    justify-content: space-around;
    height: 30px;
}

/* 게시물 작성 */
#writePost input{ border: none; margin: 10px; }
#writePost textarea{ 
    width: 640px; height: 100px;
    margin: 10px;
    border: none;
}
#writePost input , textarea:focus{
    outline: none;
}
.writeTable{}
/* 게시판 */
#post{  height: 350px;}
.postTable{ }

/* 상세페이지 */
#postDetail{ display: flex; justify-content: center; height: 350px;}