*{  
    /* border: 1px solid red; */
    padding: 0px; margin: 0px;
    box-sizing: border-box;
}
a{ color: black; text-decoration: none;}
li{ list-style-type: none;}

/* ====================헤더==================== */
#wrap{ align-items: center;}
#topmenu{ border-bottom: 1px solid rgb(206, 204, 204); }
#topmenu > div{ width: 100%;}
#topmenu > div > ul{ 
    display: flex; justify-content: flex-end;
    align-items: center;
}
#topmenu > div > ul > li{ 
    font-family: "ProximaNova-Regular"; font-size: 12px;
    display: flex; justify-content: space-between; 
    margin: 0px 9px; padding: 15px 0px;
}
#newjoin{ font-weight: bold; background-color: #f5ff6b;}
#topmenu > div > ul > li > a > img{ 
    display: block;
    width: 20px; height: 15px;
}

#stickyheader{
    font-family: "Noto Sans KR";
    width: 100%; background-color: white; opacity: 80%;
    position: sticky; top: 0px; 
    padding: 10px 20px;
}
#header{ 
    display: flex;
    align-items: center; justify-content: space-between;
}
#headerlogo{ display: flex; align-items: center;}
#headerlogo > img{ width: 155px; height: 20px; margin: 20px}


#headermenu{ 
    font-size: 12px;
    display: flex; 
}
#headermenu > ul{ display: flex; justify-content: space-between; width: 1150px;}
#headermenu .menu{ padding: 10px; position: relative; padding-top: 22px;}
#headermenu .submenu{ 
    display: none;
    position: absolute;
    background-color: white;
    padding: 20px;
    top: 50px;
    left: -20px;
    width: 120px;
    text-align: center;
    line-height: 200%;
}
#headermenu .menu:hover .submenu{ display: block;}

#menusale{ color: red;}
#blackF{ color: red; font-weight: bolder;}
#style{ font-weight: 800; }

#search{ 
    width: 150px; border-bottom: 1px solid black;
    display: flex; margin-right: 30px;
    }
#searchinput{ border: none; width: 120px;}
#searchimg{ display: block; margin-right: 30px;}


/* =================헤더 이미지================= */

#mainimg{ width: 100%; } 

/* ==================신상 본문================== */



/* ====================푸터==================== */