// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{  
    /* border: 1px solid red; */
    padding: 0px; margin: 0px;
    box-sizing: border-box;
}
a{ color: black; text-decoration: none;}
li{ list-style-type: none;}

body{ font-family: "Noto Sans KR"; sans-serif;}

/* ====================헤더==================== */
#wrap{ align-items: center;}
#topmenu{ border-bottom: 1px solid rgb(206, 204, 204); }
#topmenu > div{ width: 100%;}
#topmenu > div > ul{ 
    display: flex; justify-content: flex-end;
    align-items: center;
}
#topmenu > div > ul > li{ 
    font-family: "ProximaNova-Regular"; font-size: 12px;
    display: flex; justify-content: space-between; 
    margin: 0px 7px; padding: 15px 0px;
}
#newjoin{ font-weight: bold; background-color: #f5ff6b;}
#topmenu > div > ul > li > a > img{ 
    display: block;
    width: 20px; height: 15px;
}

#stickyheader{
    width: 100%; background-color: rgba(255, 255, 255, 0.8); /* 부모만 투명도 줄 시엔 rgb (x,x,x,투명도) */
    position: sticky; top: 0px; 
    padding: 10px 20px;
}
#header{ 
    display: flex;
    align-items: center; justify-content: space-between;
}
#headerlogo{ display: flex; align-items: center;}
#headerlogo > img{ width: 155px; height: 20px; margin: 20px}


#headermenu{ font-size: 12px; display: flex;}
#headermenu > ul{ display: flex; width: 1100px;}
#headermenu .menu{
    width: 78px;  
    padding-top: 22px;
    position: relative;
    text-align: center;
}
#headermenu .submenu{ 
    display: none;
    position: absolute;
    padding: 10px;
    top: 70px;
    left: -21px;
    width: 120px;
    text-align: center;
    line-height: 200%;
    background-color: white; 
}
#headermenu .menu:hover .submenu{ display: block;}
.menu > a:hover{ color: #a1a1a1;}

#menusale{ color: red; width: 100px}
#menusale:hover{ color: red;}
#blackF{ 
    width: 100px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#blackF > a{ color: red; font-weight: bolder;}
#blackF > a:hover{ color: red}
#style{ font-weight: bold; }

#search{ 
    width: 150px; border-bottom: 1px solid black;
    display: flex; margin-right: 30px;
}
#searchinput{ 
    border: none; width: 120px;
    background-color: transparent; /* input 상자 배경 투명하게 */
}
#searchimg{ display: block; margin-right: 30px;}


/* =================헤더 이미지================= */

#mainimg{ position:relative; z-index:2;}
#mainimg > img{ width: 100%;}

/* ==================신상 본문================== */

#main{ margin: 0 auto; width: 1630px;}
#new{ font-size: 20px; }
#newcont{ font-size: 12px; color: #c2c2c2;} 
#new, #newcont{ text-align: center; padding: 20px;}

#maincont{ 
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
}
#maincont > ul{ 
    font-size: 12px; 
    width: 390px; height: 750px;
}
#maincont > ul > li{ line-height: 150%;}
#maincont .newimg > img{ width: 100%;}
#maincont .colorreview{ 
    display: flex; justify-content: space-between;
    margin: 7px 0px;
}
#maincont .color{ display: flex;}
#maincont .color > span{ 
    display: inline-block;
    border: 1px solid #dbdbdb; 
    width: 10px; height: 10px;
    margin-right: 2px;
}
#maincont .review{ color:#888888; }
#maincont .newsize{ color:#888888}
#maincont .newbigsize{
    height: 15px; 
    font-size: 13px; font-weight: bold ;color: #db1b1b;
    margin-bottom: 4px; 
}
#maincont .newsale{ 
    display: flex; justify-content: space-between;
    margin-bottom: -2px;
}
#maincont .newsaleprice{ text-decoration: line-through; color:#888888;}
#maincont .newpercent{ font-size: 15px; font-weight: bold ;color: red;}
#maincont .newbest{ margin: 8px 0px;}


/* =====================푸터===================== */

#footer{ background-color: #f7f7f7; width: 100%;}

#fttop{ 
    width: 1200px; margin: 0 auto; padding: 50px 0px;
    display: flex; justify-content: space-between;
    flex-wrap: wrap; 
}
#fttop > div{  }
#fttop > div > div{ font-size: 12px; margin: 20px 0px; line-height: 150%;}
#fttop > div > h3, h4, h5{ margin: 20px 0px;}

#ftbottom{
    background-color: white;
    width: 100%; 
    font-size: 11px; color: #949494;
    padding: 40px;
}
#ftcont{
    width: 800px; margin: 0 auto;
    display: flex; flex-wrap: wrap; justify-content: center;
}
#ftcont > div{ padding-right: 3px;}
#ftcont > div >a{ color: #949494;} 

/* ===================사이드바==================== */

#popup{ 
    background-color: #fafafa;
    position: fixed;
    top: 35%; right: 0px;
    z-index: 1; 
    width: 50px;
}
#popup img{ 
    width: 35px; padding: 8px; 
    display: block; margin: 5px auto;
}
#popup li{ border: 1px solid #dbdbdb; position: relative;}
#popup li:hover .popupsub{
    display: inline; 
    top: 12px; right: 50px;}
.popupsub{
    position: absolute; display: none;
    font-size: 10px;
    color: white; background-color: black;
    border-radius: 5px;
    text-align: center; 
    width: 75px; height: 20px;
    padding-top: 3px;
}
#arrow img{ padding: 2px 8px; margin: 1px; width: 45px; height: 30px; }

/* 1. z-index는 position 속성이 relative 일때, absolute일때 동작합니다

    2. 기본 값은 auto 입니다 음수, 양수 숫자 사용이 가능합니다
    
    3. z-index의 값의 숫자가 높으면 높을수록 최상단에 배치되며 낮으면 낮을수록 멀리 배치됩니다
    
    4. z-index는 동일 선상에 있는 태그값을 확인하게 되지만 부모 태그의  z-index를 우선시하기 때문에 자식태그의 z-index값이 높더라도
    
       부모태그 값을 더 우선시 하게 됩니다.
    
    6. 순서 값이 없을 경우 코드 순서에 따라 쌓이게 됩니다*/
