// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{  
    border: 1px solid red;
    padding : 0px; margin : 0px;
    box-sizing: border-box;
}
a{ color: black; text-decoration: none;}
li{ list-style-type: none;}

body{ font-family: "Noto Sans KR"; }

/* ================헤더================== */
#header{ width: 1420px; margin: 0 auto; padding: 10px 0px;}
#headertop{ 
  font-size: 14px; font-weight: bold;
  width: 100%;
  display: flex; justify-content: flex-end; 
}
#headertop ul{ display: flex;}
#headertop li{ display: flex; justify-content: space-between; }
#headertop img{ 
  width: 25px; height: 25px; 
  display: block; margin: 0 auto;
} 