@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

*{  
    border: 1px solid red;
    padding : 0px; margin : 0px;
    box-sizing: border-box;
}
a{ color: black; text-decoration: none;}
li{ list-style-type: none;}

body{ font-family: "Noto Sans KR";}

/* ================헤더================== */
#header{ width: 1420px; margin: 0 auto;}
#headertop{ 
  font-size: 14px; font-weight: bold;
  width: 100%;
  display: flex; justify-content: flex-end; 
}
#headertop ul{ display: flex;}
#headertop li{ display: flex; justify-content: space-between; padding-left: 10px;}
#headertop a{ display: flex; align-items: center;}
#headertop img{ 
  width: 25px; height: 25px; 
  display: block; margin: 0 auto;
} 